/*https://www.figma.com/file/XicCaDpbPIcoO71miDrEC1oa/Untitled*/
body {
	width: 100%;
	height: 100%;
	background-image: url("Images/moorea-680033.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	font-family: Saira;
}

#container {
	padding: 65px 0;
	width: 400px;
	height: 433px;
	margin: 0 auto 7% auto;
	background: rgba(0, 191, 255, 0.66);
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 50px;

	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 30px;
	letter-spacing: 0.05em;

	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
	margin-left: 60px;
}

label {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #000000;
}

button {
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.4);
	width: 100px;
	height: 40px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	border: 1px solid rgb(255, 255, 255);
}

input {
	width: 220px;
	height: 43px;
	font-size: 18px;
	padding-left: 10px;
	background: rgba(255, 255, 255, 0.67);
	border-radius: 5px;
}

h1 {
	font-weight: 600;
	margin: 0;
	line-height: normal;
	font-size: 36px;
	text-align: center;
	letter-spacing: 0.1em;
	height: 100%;
	color: #00C2FF;
	mix-blend-mode: hard-light;
	text-shadow: 0px 5px 10px rgba(0, 0, 100, 0.25);
}

#header {
	background: rgba(36, 96, 72, 0.77);
	height: 75px;
	margin-bottom: 5%;
	padding-top: 15px;
}

.footer {
	margin-top: 20px;
}

#time {
	width: 400px;
	height: 32px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	font-size: 30px;
	text-align: center;
	letter-spacing: 0.1em;
	margin-left: 10px;
	color: #FFFFFF;
}